.header {
    border-radius: 10px;
    background-color: grey;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    box-sizing:border-box;
    font-size: 35px;
}

.main {
    background-color: grey;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.sidebar {
    padding: 10px;
    border-radius: 10px;
    background-color: grey;
    color: white;
}

.footer {
    background-color: grey;
    border-radius: 10px;
    padding: 10px;
    height: 75px;
    color: white;
    font-size: 35px;
}